@{
    ViewData["Title"] = "Оформление заказа";
}

<div class="container my-4">
    <h2>Оформление заказа</h2>
    <p>У вас нет ни одного товара, вернитесь на <a href="/Home/Index">страницу каталога</a>.</p>
</div>
